/* ELEMENT */
button {
  background-color: #FF9A19;
  color: #eeeeee;
  border: none;
  height: 2.5rem;
  transition: background-color 0.2s ease-in-out;
}

select {
  color: #FF9A19;
  border: none;
  height: 2.5rem;

  overflow: hidden;
  text-overflow: ellipsis;
}


button:hover {
  background-color: #eeeeee;
  color: #FF9A19;
  transition: none;
}

button:active {
  background-color: #dddddd;
}

input {
  height: 2.4rem;
  margin: 0rem 0.2rem;
  border: none;
  border-bottom: 0.1rem solid black;
  padding: 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  font-size: 1.5rem;
}

/* GENERAL LAYOUT */
body {
  height: calc(100vh);
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-grow: 0;
  height: calc(100vh - 8rem);
  position: relative;
}

#map_container {
  flex-grow: 1;
}

aside.left-pane {
  width: 20rem;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: white;
  box-shadow: 20px 0 20px -20px rgba(0,0,0,0.3);
}

footer {
  height: 8rem;
  overflow-y: auto;
  min-height: 8rem;
}

/* FORM */
aside form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

form > div, form > fieldset {
  margin: 0.5rem 0;
  padding: 0.3rem 0.1rem;
}

form > fieldset {
  border: none;
}

form > fieldset > legend {
  border-bottom: black 1px solid;
}

.button_and_input {
  display: flex;
  align-items: center;
}

.button_and_input button, .button_and_input select {
  width: 7.5rem;
  margin: 0.1rem 0rem;
}

.button_and_input input {
  flex-grow: 1;
}

.checkbox_button_and_input {
  display: flex;
}

.label_and_checkbox {
  display: flex;
  align-items: center;
}

.label_and_checkbox label {
  flex-grow: 1;
}

fieldset {
  border-color: #4EB5E6;
}

/* ITINERARY */
#itinerary {
  position: absolute;
  z-index: 10;
  top: 0;
  left: -100vw;
  background: white;
  padding: 1rem;
  animation: left 10s ease-in-out;
}

#itinerary.visible {
  left: 21rem;
}

.step_list {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 100%;
}

.step_list > li {
  width: 100%;
  margin: 1rem;
  display: table-row;
}

.step_list > li:first-child {
  display: table-header-group;
}
.step_list > li:nth-child(even) {
  background-color: #eeeeee;
}

.step_list > li > span {
  display: table-cell;
  padding: 1rem 0;
}
